<span class="form-header" i18n="@@keygen">Keygen</span>
<form (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="stretch" >
        <div>
            <mat-form-field class="addr">
                <mat-label i18n="@@device-address">Device address</mat-label>
                <input i18n-placeholder="@@address" matInput type="text" placeholder="Address" [formControl]="addr" (change)="onSubmit()">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="masterkey">
                <mat-label i18n="@@masterkey">Masterkey</mat-label>
                <input i18n-placeholder="@@masterkey" matInput type="text" placeholder="Masterkey" [formControl]="masterkey" (change)="onSubmit()">
            </mat-form-field>
        </div>
        <p></p>
        <div>
            <button i18n="@@generate" mat-raised-button color="primary" mat-button type="submit">Generate</button>  
        </div>
        <p style="padding: 10pt;"></p>
        @if (value.eui) {
        <div>
            <mat-form-field class="addr">
                <mat-label i18n="@@device-identifier-eui">Device identifier eui</mat-label>
                <input i18n-placeholder="@@device-identifier-eui" matInput readonly type="text" placeholder="Device identifier eui" [value]="value.eui">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="addr">
                <mat-label i18n="@@network-key-nwk">Network key nwk</mat-label>
                <input i18n-placeholder="@@network-key-nwk" matInput readonly type="text" placeholder="Network key nwk" [value]="value.nwkKey">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="addr">
                <mat-label i18n="@@network-key-app">Application key app</mat-label>
                <input i18n-placeholder="@@network-key-app" matInput readonly type="text" placeholder="Application key app" [value]="value.appKey">
            </mat-form-field>
        </div>
    }
    </div>
</form>
