<span class="form-header">Сеть по адресу устройства</span>
<form>
    <div fxLayout="row" fxLayoutAlign="stretch" >
        <div>
            <mat-form-field class="addr">
                <mat-label>Адрес устройства</mat-label>
                <input matInput type="text" placeholder="Адрес" [formControl]="addr" (change)="onAddrChanged($event)">
            </mat-form-field>
                @if(addr.invalid) {
                    <mat-error>Адрес- шестнадцатиричное число</mat-error>
                }
        </div>
        <p></p>
        <div>
            <button mat-button color="primary" mat-button type="submit">Показать</button>  
        </div>
        <p></p>

        @if(addrCapacity) {
        <div>
            <table>
                <tr>
                    <td>
                        Сеть
                    </td>
                    <td>
                        Тип сети
                    </td>
                    <td>
                        Идентификатор сети
                    </td>
                    <td>
                        Адрес в сети
                    </td>
                </tr>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        NwkType
                    </td>
                    <td>
                        NwkId
                    </td>
                    <td>
                        NwkAddr
                    </td>
                </tr>
                <tr>
                    <td>
                        Bin
                    </td>
                    <td>
                        {{binPrefix}}
                    </td>
                    <td>
                        {{binNwkid}}
                    </td>
                    <td>
                        {{binAddr}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Длина, бит
                    </td>
                    <td>
                        {{value.prefixlen}}
                    </td>
                    <td>
                        {{value.nwkidlen}}
                    </td>
                    <td>
                        {{value.addrlen}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Hex
                    </td>
                    <td>
                        {{value.type}}
                    </td>
                    <td>
                        {{value.nwkId}}
                    </td>
                    <td>
                        {{hexAddr}}
                    </td>
                </tr>
           </table>

            <p></p>
            <div>
                Адреса для идентификатора сети {{value.nwkId}}
            </div>

            <table>
                <tr>
                    <td>
                        Min
                    </td>
                    <td>
                        Max
                    </td>
                    <td>
                        Всего адресов
                    </td>
                </tr>
                <tr>
                    <td>
                        {{value.addrMin}}
                    </td>
                    <td>
                        {{value.addrMax}}
                    </td>
                    <td>
                        {{addrCapacity}}
                    </td>
                </tr>
            </table>
        </div>
    }
    </div>
</form>
