<span class="form-header" i18n="@@network-by-device-address">Network by device address</span>
<form (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="stretch" >
        <div>
            <mat-form-field class="addr">
                <mat-label i18n="@@device-address">Device address</mat-label>
                <input matInput type="text" placeholder="hex" [formControl]="addr" (change)="onSubmit()">
            </mat-form-field>
                @if(addr.invalid) {
                    <mat-error i18n="@@device-adddress-is-hex">Device address is an hex number</mat-error>
                }
        </div>
        <p style="padding: 10pt;"></p>
        <div>
            <button i18n="@@show" mat-raised-button color="primary" mat-button type="submit">Show</button>  
        </div>
        <p style="padding: 10pt;"></p>
        @if(addrCapacity) {
        <div>
            <table>
                <tr>
                    <td i18n="@@network">Network</td>
                    <td i18n="@@network-type">Network type</td>
                    <td i18n="@@network-identifier">Network identifier</td>
                    <td i18n="@@network-address">Network address</td>
                </tr>
                <tr>
                    <td></td>
                    <td i18n="@@nwktype">NwkType</td>
                    <td i18n="@@nwkid">NwkId</td>
                    <td i18n="@@nwkaddr">NwkAddr</td>
                </tr>
                <tr>
                    <td i18n="@@bin">Bin</td>
                    <td>
                        {{binPrefix}}
                    </td>
                    <td>
                        {{binNwkid}}
                    </td>
                    <td>
                        {{binAddr}}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@length-bits">Length, bits</td>
                    <td>
                        {{value.prefixlen}}
                    </td>
                    <td>
                        {{value.nwkidlen}}
                    </td>
                    <td>
                        {{value.addrlen}}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@hex">Hex</td>
                    <td>
                        {{value.type}}
                    </td>
                    <td>
                        {{value.nwkId}}
                    </td>
                    <td>
                        {{hexAddr}}
                    </td>
                </tr>
           </table>
            <p></p>
            <div i18n="@@addresses-for-network-identifier">Addresses for network identifier {{value.nwkId}}</div>
            <table>
                <tr>
                    <td i18n="@@min">Min</td>
                    <td i18n="@@max">Max</td>
                    <td i18n="@@total-addresses">Total addresses</td>
                </tr>
                <tr>
                    <td>
                        {{value.addrMin}}
                    </td>
                    <td>
                        {{value.addrMax}}
                    </td>
                    <td>
                        {{addrCapacity}}
                    </td>
                </tr>
            </table>
        </div>
    }
    </div>
</form>
