<span class="form-header" i18n="@@network-types">Network types</span>
<div>
    <table>
        <tr>
            <td i18n="@@network-type">Network type</td>
            <td i18n="@@networks-in-type">Networks in type</td>
            <td i18n="@@addresses-in-type">Addresses in type</td>
            <td i18n="@@min-network">Min network</td>
            <td i18n="@@min-address">Min address</td>
            <td i18n="@@max-address">Max address</td>
            <td i18n="@@max-network">Max network</td>
            <td i18n="@@min-address">Min address</td>
            <td i18n="@@max-address">Max address</td>
        </tr>
    @for(v of value; track v.type) {
        <tr>
            <td>
                {{ v.type }}
            </td>
            <td>
                {{ bits2len(v.nwkidlen) }}
            </td>
            <td>
                {{ bits2len(v.addrlen) }}
            </td>
            <td>
                {{ v.nwkMin }}
            </td>
            <td>
                {{ v.nwkMinAddrMin}}
            </td>
            <td>
                {{ v.nwkMinAddrMax}}
            </td>
            <td>
                {{ v.nwkMax }}
            </td>
            <td>
                {{ v.nwkMaxAddrMin}}
            </td>
            <td>
                {{ v.nwkMaxAddrMax}}
            </td>
        </tr>
    }
    </table>
</div>
