<mat-drawer-container class="nav-menu-container">
    <mat-drawer #drawer class="nav-menu-sidenav" mode="side" opened="true">
        <mat-selection-list class="nav-menu-content" [multiple]="false">
            <div mat-subheader i18n="@@calculator">Calculator</div>
            @for (c of calcs; track calcs) {
                <div (click)="nav(c.path)">
                <mat-list-item [matTooltip]="c.tip">
                    <mat-icon matListItemIcon>{{c.icon}}</mat-icon>
                    <div matListItemTitle>{{c.name}}</div>
                    <div matListItemLine>{{c.desc}}</div>
                </mat-list-item>
            </div>
            }
            <mat-divider></mat-divider>
            <div mat-subheader i18n="@@packet">Packet</div>
            @for (p of parsers; track parsers) {
                <div (click)="nav(p.path)">
                <mat-list-item [matTooltip]="p.tip">
                    <mat-icon matListItemIcon>{{p.icon}}</mat-icon>
                    <div matListItemTitle>{{p.name}}</div>
                    <div matListItemLine>{{p.desc}}</div>
                </mat-list-item>
            </div>
            }
        </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content class="nav-menu-sidenav-content">
        <button i18n="@@menu-aria-label" mat-icon-button aria-label="Menu" [matTooltip]="drawerTip(drawer.opened)" (click)="drawer.toggle()" class="toogle-nav">
            @if (drawer.opened) {
                <mat-icon>chevron_left</mat-icon>
            } @else {
                <mat-icon>chevron_right</mat-icon>
            }
        </button>
        <router-outlet />
    </mat-drawer-content>
</mat-drawer-container>