.nav-menu-container {
    width: 100%;
    height: 800pt;
  }
  
  .nav-menu-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .nav-menu-sidenav {
    padding: 20px;
  }

  .mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  