<div class="top-row">
    <button i18n-matTooltip="@@menu" i18n-aria-label="@@menu" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Menu" aria-label="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span i18n="@@lorawan-calculator-online" class="form-header" [matTooltip]="'v. ' + version">LoRaWAN calculator online</span>
    @if (!env.isOnline) {
        <mat-icon>wifi_off</mat-icon>
    }
    <mat-menu #menu="matMenu">
        <button i18n="@@home-page" mat-menu-item (click)="nav('/')">Home page</button>
        <hr/>
        <app-dark-mode-switch i18n-matTooltip="@@light-or-dark-theme" matTooltip="Light or dark theme" [checked]="env.settings.darkMode" (darkThemeOn)="env.darkThemeOn($event)"></app-dark-mode-switch>
        <app-subscribe></app-subscribe>
        <hr/>
        <button i18n="@@privacy-policy-menu" mat-menu-item (click)="nav('/privacy-policy')">Privacy policy</button>
    </mat-menu>
</div>