<div class="top-row">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Меню 1">
        <mat-icon>menu</mat-icon>
    </button>
    LoRaWAN oнлайн калькулятор v.{{version}}
    @if (!env.isOnline) {
        <mat-icon>wifi_off</mat-icon>
    }
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
        <app-dark-mode-switch></app-dark-mode-switch>
    </mat-menu>

    
</div>