<span class="form-header" i18n="@@gateway-packet">Gateway packet</span>
<form>
    <div fxLayout="row" fxLayoutAlign="stretch" >
        <div>
            <mat-form-field class="packet">
                <mat-label i18n="@@packet">Packet</mat-label>
                <input matInput type="text" placeholder="hex" [formControl]="packet" (change)="onChanged($event)">
            </mat-form-field>
                @if(packet.invalid) {
                    <mat-error i18n="@@hex-string">Hex string</mat-error>
                }
        </div>
        <p></p>
        <div>
            <button i18n="@@show" mat-button color="primary" mat-button type="submit">Show</button>  
        </div>
        <p></p>
        @if(value.code) {
            <div i18n="@@error-code-error">Error {{value.code}}: {{value.error}}</div>
        }
        @if(value.rfm.mhdr.mtype) {
        <div>
            <table>
                <tr>
                    <td i18n="@@metadata">Metadata</td>
                    <td i18n="@@value">Value</td>
                </tr>
                <tr>
                    <td i18n="@@gateway">Gateway</td>
                    <td>
                        {{ value.metadata.gatewayId }}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@time">Time</td>
                    <td>
                        {{ value.metadata.time }}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@tmst">tmst</td>
                    <td>
                        {{ value.metadata.tmst }}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@chan">chan</td>
                    <td>
                        {{ value.metadata.chan }}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@rfch">rfch</td>
                    <td>
                        {{ value.metadata.rfch }}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@frequency-mhz">Frequency, MHz</td>
                    <td>
                        {{ value.metadata.freq / 1000000 }}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@stat">stat</td>
                    <td>
                        {{ value.metadata.stat }}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@modulation">Modulation</td>
                    <td>
                        {{ value.metadata.modu }}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@data-rate">Data rate</td>
                    <td>
                        {{ value.metadata.datr }}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@coding-rate">Coding rate</td>
                    <td>
                        {{ value.metadata.codr }}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@bps">BPS</td>
                    <td>
                        {{ value.metadata.bps }}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@rssi">RSSI</td>
                    <td>
                        {{ value.metadata.rssi }}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@lsnr">LSNR</td>
                    <td>
                        {{ value.metadata.lsnr }}
                    </td>
                </tr>
           </table>
           <table>
            <tr>
                <td colspan="2">
                    <b>{{ env.mtype2string(value.rfm.mhdr.mtype) }}</b> ( {{value.rfm.mhdr.mtype}} )
                </td>
            </tr>
            @if (value.rfm.mhdr.mtype == 2) {
            <tr>
                <td i18n="@@address">Address</td>
                <td>
                    {{value.rfm.uplink.addr}}
                </td>
            </tr>
            <tr>
                <td i18n="@@foptslen">foptslen</td>
                <td>
                    {{value.rfm.uplink.foptslen}}
                </td>
            </tr>
            @if (value.rfm.uplink.classb) {
            <tr>
                <td i18n="@@class-b">Class B</td>
                <td>
                </td>
            </tr>
            }
            @if (value.rfm.uplink.ack) {
                <tr>
                    <td i18n="@@ack">ACK</td>
                    <td>
                    </td>
                </tr>
            }
            @if (value.rfm.uplink.adr) {
                <tr>
                    <td i18n="@@adr">ADR</td>
                    <td>
                    </td>
                </tr>
            }
            <tr>
                <td i18n="@@addrackreq">addrackreq</td>
                <td>
                    {{value.rfm.uplink.addrackreq}}
                </td>
            </tr>
            <tr>
                <td i18n="@@optsnpayload">optsNpayload</td>
                <td>
                    {{value.rfm.uplink.optsNpayload}}
                </td>
            </tr>
        }
           </table>
        </div>
    }
    </div>
</form>
