<span class="form-header">Адреса устройств сети</span>
<form>
    <div fxLayout="row" fxLayoutAlign="stretch" >
        <div>
            <mat-form-field class="addr">
                <mat-label>Тип сети</mat-label>
                <input matInput type="number" placeholder="0..7" [formControl]="nwktype" (change)="onChanged($event)">
            </mat-form-field>
            @if(nwktype.invalid) {
                <mat-error>Тип сети 0..7</mat-error>
            }
    </div>
        <div>
            <mat-form-field class="addr">
                <mat-label>Номер сети</mat-label>
                <input matInput type="text" placeholder="Cеть (hex)" [formControl]="nwkid" (change)="onChanged($event)">
            </mat-form-field>
            @if(nwkid.invalid) {
                <mat-error>Номер сети: шестнадцатиричное число</mat-error>
            }
        </div>
        <div>
            <button mat-button color="primary" mat-button type="submit">Показать</button>  
        </div>
        <p></p>
        @if(addrSpace) {
        <div>
            <table>
                <tr>
                    <td>
                        Сеть
                    </td>
                    <td>
                        Тип сети
                    </td>
                    <td>
                        Идентификатор сети
                    </td>
                    <td>
                        Адрес в сети
                    </td>
                </tr>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        NwkType
                    </td>
                    <td>
                        NwkId
                    </td>
                    <td>
                        NwkAddr
                    </td>
                </tr>
                <tr>
                    <td>
                        Bin
                    </td>
                    <td>
                        {{binPrefix}}
                    </td>
                    <td>
                        {{binNwkid}}
                    </td>
                    <td>
                        {{binAddr}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Длина, бит
                    </td>
                    <td>
                        {{value.prefixlen}}
                    </td>
                    <td>
                        {{value.nwkidlen}}
                    </td>
                    <td>
                        {{value.addrlen}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Hex
                    </td>
                    <td>
                        {{value.type}}
                    </td>
                    <td>
                        {{value.netid}}
                    </td>
                    <td>
                        {{hexAddr}}
                    </td>
                </tr>
           </table>

            <p></p>
            <div>
                Адреса для типа сети {{value.type}}, идентификатора сети {{value.netid}}
            </div>

            <table>
                <tr>
                    <td>
                        Min
                    </td>
                    <td>
                        Max
                    </td>
                    <td>
                        Всего адресов
                    </td>
                </tr>
                <tr>
                    <td>
                        {{value.addrMin}}
                    </td>
                    <td>
                        {{value.addrMax}}
                    </td>
                    <td>
                        {{addrSpace}}
                    </td>
                </tr>
            </table>
        </div>
    }
    </div>
</form>
