<span class="form-header" i18n="@@device-address">Device address</span>
<form (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="stretch" >
        <div>
            <mat-form-field class="nwktype">
                <mat-label i18n="@@network-type">Network type</mat-label>
                <input matInput type="number" placeholder="0..7" [formControl]="nwktype" (change)="onSubmit()">
            </mat-form-field>
            @if(nwktype.invalid) {
                <mat-error i18n="@@network-type-0-7">Network type 0..7</mat-error>
            }
        </div>
        <p style="padding: 10pt;"></p>
        <div>
            <mat-form-field class="nwkid">
                <mat-label i18n="@@network-number">#network</mat-label>
                <input matInput type="text" placeholder="Cеть (hex)" [formControl]="nwkid" (change)="onSubmit()">
            </mat-form-field>
            @if(nwkid.invalid) {
                <mat-error i18n="@@network-number-hex">#network: hex number</mat-error>
            }
        </div>
        <p style="padding: 10pt;"></p>
        <div>
            <button i18n="@@show" mat-raised-button color="primary" mat-button type="submit">Show</button>  
        </div>
        <p></p>
        @if(addrSpace) {
        <div>
            <table>
                <tr>
                    <td i18n="@@network">Network</td>
                    <td i18n="@@network-type">Network type</td>
                    <td i18n="@@network-id">Network id</td>
                    <td i18n="@@network-address">Network address</td>
                </tr>
                <tr>
                    <td>
                        
                    </td>
                    <td i18n="@@nwktype">NwkType</td>
                    <td i18n="@@nwkid">NwkId</td>
                    <td i18n="@@nwkaddr">NwkAddr</td>
                </tr>
                <tr>
                    <td i18n="@@bin">Bin</td>
                    <td>
                        {{binPrefix}}
                    </td>
                    <td>
                        {{binNwkid}}
                    </td>
                    <td>
                        {{binAddr}}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@length-bits">Length, bits</td>
                    <td>
                        {{value.prefixlen}}
                    </td>
                    <td>
                        {{value.nwkidlen}}
                    </td>
                    <td>
                        {{value.addrlen}}
                    </td>
                </tr>
                <tr>
                    <td i18n="@@hex">Hex</td>
                    <td>
                        {{value.type}}
                    </td>
                    <td>
                        {{value.netid}}
                    </td>
                    <td>
                        {{hexAddr}}
                    </td>
                </tr>
           </table>

            <p></p>
            <div i18n="@@addresses">Addresses of network type {{value.type}}, network id {{value.netid}}</div>

            <table>
                <tr>
                    <td i18n="@@min">Min</td>
                    <td i18n="@@max">Max</td>
                    <td i18n="@@total-networks">Total networks</td>
                    <td i18n="@@total-addresses">Total addresses</td>
                </tr>
                <tr>
                    <td>
                        {{value.addrMin}}
                    </td>
                    <td>
                        {{value.addrMax}}
                    </td>
                    <td>
                        {{nwkSpace}}
                    </td>
                    <td>
                        {{addrSpace}}
                    </td>
                </tr>
            </table>
        </div>
    }
    </div>
</form>
